header {
  width: 100%;
  height: 75px;
  background: #ffffff;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5;
}
header .container {
  height: 100%;
}
header .container .header_wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .container .header_wrapper .user {
  width: 190px;
}
header .container .header_wrapper .logo1 {
  display: none;
}
header .container .header_wrapper .katalog {
  width: 140px;
  height: 40px;
  background-color: #70c05b;
  border-radius: 5px;
  display: block;
  color: white;
  font-family: r;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
header .container .header_wrapper .katalog .site_bar {
  width: 40%;
  height: 100%;
  padding-top: 6px;
}
header .container .header_wrapper .katalog .site_bar span {
  transition: 0.3s all ease-in-out;
  display: block;
  width: 55%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 5px;
}
header .container .header_wrapper .katalog.active .site_bar span:nth-child(2) {
  opacity: 0;
}
header .container .header_wrapper .katalog.active .site_bar span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
header .container .header_wrapper .katalog.active .site_bar span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
header .container .header_wrapper .katalog .site_bar span:nth-child(1) {
  transform: translateY(0px) rotate(360deg);
}
header .container .header_wrapper .katalog .site_bar span:nth-child(2) {
  opacity: 1;
}
header .container .header_wrapper .katalog .site_bar span:nth-child(3) {
  transform: translateY(0px) rotate(-360deg);
}
header .container .header_wrapper .user1 {
  display: none;
}
header .container .header_wrapper .header_logo {
  width: 230px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .header_wrapper .header_logo img {
  display: block;
  cursor: pointer;
}
header .container .header_wrapper .header_input {
  width: 350px;
  height: 40px;
  position: relative;
}
header .container .header_wrapper .header_input input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid rgb(203, 232, 195);
  outline: none;
  padding-left: 20px;
  outline: none;
  flex-shrink: 0;
  font-size: 18px;
}
header .container .header_wrapper .header_input img {
  position: absolute;
  top: 8px;
  right: 10px;
}

.katalog_wrapper {
  top: -100%;
  width: 100%;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding-bottom: 50px;
  position: absolute;
  transition: 0.4s all ease-in-out;
  left: 0;
  z-index: 2;
}
.katalog_wrapper .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.katalog_wrapper .container .katalog_w1 {
  padding-top: 100px;
  width: 23%;
  height: 100%;
}
.katalog_wrapper .container .katalog_w1 p {
  font-family: r;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.katalog_wrapper .container .katalog_w1 p a {
  transition: 0.3s;
}
.katalog_wrapper .container .katalog_w1 p:hover a {
  color: #ff6633;
}

.katalog_wrapper.active {
  top: 0;
}

@media screen and (max-width: 1150px) {
  main {
    background-size: contain !important;
  }
  header .container .header_wrapper .logo1 {
    display: block;
  }
  header .container .header_wrapper .user {
    display: none;
  }
  header .container .header_wrapper .user1 {
    display: block;
  }
  header .container .header_wrapper .logo {
    display: none;
  }
  header .container .header_wrapper .katalog {
    width: 10%;
  }
  header .container .header_wrapper .katalog p {
    display: none;
  }
  header .container .header_wrapper .katalog .site_bar {
    width: 100%;
  }
}
@media screen and (max-width: 880px) {
  .katalog_wrapper .container {
    flex-wrap: wrap;
    padding-top: 80px;
  }
  .katalog_wrapper .container .katalog_w1 {
    padding-top: 20px;
    width: 50%;
    overflow: hidden;
  }
  .katalog_wrapper .container .katalog_w1 p {
    font-size: 14px;
  }
}
@media screen and (max-width: 810px) {
  main {
    background-image: url("../../../ecommerce-dom-master/assets/images/img/Sliders (2).png") !important;
  }
  header .container .header_wrapper .header_logo,
  header .container .header_wrapper .katalog1,
  header .container .header_wrapper .user1 {
    display: none;
  }
  header .container .header_wrapper .header_input {
    width: 70%;
  }
}
footer {
  width: 100%;
  height: 120px;
}
footer .footer1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer2 {
  display: none;
}

@media screen and (max-width: 1200px) {
  footer {
    height: auto;
  }
  footer .footer1 {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 600px) {
  footer {
    height: auto;
  }
  footer .footer1 {
    display: none;
  }
  footer .footer2 {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 95%;
  }
}
@font-face {
  font-family: r;
  src: url("../../../ecommerce-dom-master/assets/fonts/Rubik-Medium.ttf");
}
main {
  max-width: 100%;
  height: 200px;
  background-image: url("../../../ecommerce-dom-master/assets/images/img/Sliders (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.carts_wrapper {
  background-color: rgb(250, 247, 235);
  padding-top: 100px;
  width: 100%;
}
.carts_wrapper .container .carts_wrapper_h2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carts_wrapper .container .carts_wrapper_h2 h2 {
  font-family: r;
  font-size: 34px;
}
.carts_wrapper .container .cards_w {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.carts_wrapper .container .cards_w .card {
  width: 274px;
  height: 350px;
  background-color: white;
  border-radius: 8px;
  position: relative;
}
.carts_wrapper .container .cards_w .card .card_img {
  width: 100%;
  height: 50%;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.carts_wrapper .container .cards_w .card .card_img .im {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.carts_wrapper .container .cards_w .card .card_dec {
  width: 100%;
}
.carts_wrapper .container .cards_w .card .card_dec #card_top {
  padding-top: 20px;
}
.carts_wrapper .container .cards_w .card .card_dec #card_top h3 {
  font-family: r;
  opacity: 0.8;
}
.carts_wrapper .container .cards_w .card .card_dec .card_d {
  width: 90%;
  margin: 0 auto;
}
.carts_wrapper .container .cards_w .card .card_dec .card_d .img_one {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.carts_wrapper .container .cards_w .card .card_dec .card_d p {
  font-family: sans-serif;
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
}
.carts_wrapper .container .cards_w .card .card_dec .card_d .livel {
  margin-top: 10px;
}
.carts_wrapper .container .cards_w .card .card_dec .card_d button {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border: 2px solid rgb(203, 232, 195);
  border-radius: 5px;
  font-family: r;
  color: rgb(148, 209, 132);
  background-color: white;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.carts_wrapper .container .cards_w .card .card_dec .card_d button:hover {
  background-color: rgb(255, 102, 51);
  color: white;
  border: none;
}

.app {
  width: 100%;
  padding-bottom: 100px;
}
.app .container {
  height: 100%;
}
.app .container h2 {
  font-family: r;
  font-size: 35px;
  opacity: 0.8;
}
.app .container .app_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
.app .container .app_img img {
  display: block;
  width: 48%;
}
.app .container .app_img img:nth-child(2) {
  margin-top: -20px;
}
.app .container .app_img img:nth-child(1) {
  margin-left: -20px;
}

.container .magazin h2 {
  font-family: r;
  font-size: 35px;
  opacity: 0.8;
}
.container .magazin .buttons {
  padding-bottom: 50px;
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.container .magazin .buttons button {
  width: 120px;
  height: 30px;
  background-color: rgb(242, 241, 240);
  outline: none;
  border: none;
  border-radius: 5px;
}
.container .magazin .magazin_img {
  width: 100%;
  height: 340px;
  background-color: aquamarine;
}
.container .magazin .magazin_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.site {
  width: 100%;
  padding-bottom: 100px;
}
.site .container .site_h2 {
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.site .container .site_h2 h2 {
  font-family: r;
  font-size: 35px;
  opacity: 0.8;
}
.site .container .site_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.site .container .site_cards .site_card {
  margin-top: 40px;
  width: 376px;
  height: 420px;
  background-color: white;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.site .container .site_cards .site_card .site_card_img {
  width: 100%;
  height: 165px;
  border-radius: 8px 8px 0 0;
}
.site .container .site_cards .site_card .site_card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.site .container .site_cards .site_card .site_caer_dec {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.site .container .site_cards .site_card .site_caer_dec .time {
  font-size: 14px;
  font-family: sans-serif;
  opacity: 0.6;
  padding-top: 20px;
}
.site .container .site_cards .site_card .site_caer_dec h3 {
  font-family: r;
  font-size: 18px;
  opacity: 0.8;
  padding-top: 20px;
}
.site .container .site_cards .site_card .site_caer_dec .dec {
  font-family: sans-serif;
  opacity: 0.8;
  font-size: 15px;
  padding-top: 10px;
}
.site .container .site_cards .site_card .site_caer_dec button {
  width: 170px;
  height: 40px;
  outline: none;
  border: none;
  border: 2px solid rgb(203, 232, 195);
  border-radius: 5px;
  font-family: r;
  color: rgb(148, 209, 132);
  background-color: white;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(229, 255, 222);
}
.site .container .site_cards .site_card .site_caer_dec button:hover {
  background-color: rgb(110, 191, 90);
  color: white;
  border: none;
}

.inputResult {
  width: 99%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  padding-top: 15px;
  display: none;
}
.inputResult a {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  color: black;
  font-family: r;
  padding-left: 20px;
}

.inputResult::-webkit-scrollbar {
  width: 5px;
}

.inputResult.active {
  display: block;
}

@media screen and (max-width: 1200px) {
  main {
    height: 150px;
  }
  .carts_wrapper {
    padding-top: 0;
  }
  .carts_wrapper .container .cards_w {
    flex-wrap: wrap;
  }
  .carts_wrapper .container .cards_w .card {
    margin-left: 15px;
    margin-bottom: 30px;
  }
  .site .container .site_cards .site_card {
    width: 30%;
    height: 500px;
  }
}
@media screen and (max-width: 890px) {
  .site .container .site_cards .site_card {
    width: 30%;
    height: 520px;
  }
}
@media screen and (max-width: 850px) {
  .site .container .site_cards {
    flex-wrap: wrap;
  }
  .site .container .site_cards .site_card {
    width: 48%;
    height: 480px;
  }
}
@media screen and (max-width: 615px) {
  .carts_wrapper .container .cards_w {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between !important;
  }
  .carts_wrapper .container .cards_w .card {
    margin-left: 0px;
    margin-bottom: 30px;
    width: 95%;
  }
  .carts_wrapper .container .cards_w .card .card_dec .card_d .livel {
    width: 100%;
  }
  .app .container h2 {
    font-size: 28px;
  }
  .app .container .app_img {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
  }
  .app .container .app_img img {
    width: 100%;
    margin-bottom: 25px;
  }
  .container .magazin {
    padding-top: 50px;
  }
  .container .magazin h2 {
    font-size: 28px;
  }
  .container .magazin .buttons {
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;
  }
  .container .magazin .buttons button {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .site .container .site_h2 h2 {
    font-size: 28px;
  }
  .site .container .site_cards {
    flex-wrap: wrap;
  }
  .site .container .site_cards .site_card {
    width: 100%;
    height: 480px;
  }
}
@media screen and (max-width: 510px) {
  .carts_wrapper .container .magazin {
    padding-top: -150px;
    margin-top: -60px;
  }
  .carts_wrapper .container .magazin h2 {
    padding-top: -150px;
  }
  main {
    height: 100px;
  }
  .carts_wrapper .container .carts_wrapper_h2 h2 {
    font-size: 25px;
  }
  .carts_wrapper .container .cards_w .card {
    height: 380px;
  }
}
@media screen and (max-width: 350px) {
  .carts_wrapper .container .carts_wrapper_h2 h2 {
    font-size: 25px;
  }
  .carts_wrapper .container .carts_wrapper_h2 img {
    width: 50%;
  }
}
.all_product_w {
  width: 100%;
}
.all_product_w .carts_wrapper .container .cards_w {
  display: flex;
  flex-wrap: wrap;
}
.all_product_w .carts_wrapper .container .cards_w .card {
  margin-bottom: 30px;
}
.all_product_w .carts_wrapper .container .cards_w .card .card_img {
  position: relative;
}
.all_product_w .carts_wrapper .container .cards_w .card .card_img .button3 {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.all_product_w .carts_wrapper .container .cards_w .card .card_img .im {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px) {
  .all_product_w {
    width: 100%;
  }
  .all_product_w .carts_wrapper .container {
    padding-top: 80px;
  }
}
@media screen and (max-width: 620px) {
  .all_product_w {
    width: 100%;
  }
  .all_product_w .carts_wrapper .container {
    padding-top: 80px;
  }
  .all_product_w .carts_wrapper .container .cards_w {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-between !important;
    padding-left: 10px;
  }
}
@media screen and (max-width: 550px) {
  .all_product_w {
    width: 100%;
  }
  .all_product_w .carts_wrapper .container {
    padding-top: 80px;
  }
  .all_product_w .carts_wrapper .container .cards_w {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-between !important;
    padding-left: 10px;
  }
  .all_product_w .carts_wrapper .container .cards_w .card {
    height: 400px;
    position: relative;
  }
  .all_product_w .carts_wrapper .container .cards_w .card .card_dec .card_d button {
    position: absolute;
    bottom: 10px;
    width: 90%;
    margin-left: 10px;
    left: 0;
  }
}
@media screen and (max-width: 350px) {
  .all_product_w .carts_wrapper .container .cards_w {
    grid-template-columns: auto;
  }
}
.carts_wrapper {
  padding-bottom: 100px;
}
.carts_wrapper .container {
  margin-top: -20px;
}
.carts_wrapper .container h2 {
  font-size: 35px;
  font-family: r;
  padding-top: 40px;
}
.carts_wrapper .container .category_top {
  display: flex;
  align-items: center;
  font-family: r !important;
  height: 30px;
}
.carts_wrapper .container .category_top p {
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.carts_wrapper .container .category_top p svg {
  margin-left: 10px;
}
.carts_wrapper .container .category_top p:nth-child(2) {
  padding-left: 30px;
}
.carts_wrapper .container .category_top p:nth-child(1) {
  padding-left: 0px;
}
.carts_wrapper .container .category_p_w {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
.carts_wrapper .container .category_p_w .category_img_left {
  width: 49%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carts_wrapper .container .category_p_w .category_img_left .img_one {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: -30px;
}
.carts_wrapper .container .category_p_w .category_img_left .img_one img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carts_wrapper .container .category_p_w .category_img_left .img_2_w {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.carts_wrapper .container .category_p_w .category_img_left .img_2_w .img_2 {
  width: 95%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.carts_wrapper .container .category_p_w .category_img_left .img_2_w .img_2 img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carts_wrapper .container .category_p_w .category_img_left .img_2_w .img_2:nth-child(3) {
  margin-left: 8px;
}
.carts_wrapper .container .category_p_w .category_img_left .img_2_w .img_2:nth-child(1) {
  margin-left: 8px;
}
.carts_wrapper .container .category_p_w .category_img_left .img_2_w .img_2:nth-child(4) {
  margin-left: 5px;
}
.carts_wrapper .container .category_p_w .category_img_left .img_2_w .img_2:nth-child(2) {
  margin-left: 5px;
}
.carts_wrapper .container .category_p_w .category_img_right {
  width: 49%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carts_wrapper .container .category_p_w .category_img_right .img_one1 {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
}
.carts_wrapper .container .category_p_w .category_img_right .img_one1 img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carts_wrapper .container .category_p_w .category_img_right .img_3_w {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.carts_wrapper .container .category_p_w .category_img_right .img_3_w .img_3 {
  width: 95%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.carts_wrapper .container .category_p_w .category_img_right .img_3_w .img_3 img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carts_wrapper .container .category_p_w .category_img_right .img_3_w .img_3:nth-child(3) {
  margin-left: 8px;
  margin-top: 11px;
}
.carts_wrapper .container .category_p_w .category_img_right .img_3_w .img_3:nth-child(1) {
  margin-left: 8px;
}
.carts_wrapper .container .category_p_w .category_img_right .img_3_w .img_3:nth-child(4) {
  margin-left: 5px;
  margin-top: 11px;
}
.carts_wrapper .container .category_p_w .category_img_right .img_3_w .img_3:nth-child(2) {
  margin-left: 5px;
}
.carts_wrapper .container .category_p_w .category_img_bottom {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.carts_wrapper .container .category_p_w .category_img_bottom .img_b1 {
  width: 25%;
  border-radius: 8px;
  overflow: hidden;
}
.carts_wrapper .container .category_p_w .category_img_bottom .img_b1 img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.carts_wrapper .container .category_p_w .category_img_bottom .img_b2 {
  width: 45%;
  border-radius: 8px;
  overflow: hidden;
}
.carts_wrapper .container .category_p_w .category_img_bottom .img_b2 img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .carts_wrapper .container {
    padding-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  .carts_wrapper .container .category_p_w .category_img_left {
    width: 100%;
  }
  .carts_wrapper .container .category_p_w .category_img_right {
    width: 100%;
  }
}