header {
  width: 100%;
  height: 75px;
  background: #ffffff;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5;
  .container {
    height: 100%;
    .header_wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .user {
        width: 190px;
      }
      .logo1 {
        display: none;
      }
      .katalog {
        width: 140px;
        height: 40px;
        background-color: #70c05b;
        border-radius: 5px;
        display: block;
        color: white;
        font-family: r;
        outline: none;
        border: none;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        align-items: center;
        .site_bar {
          width: 40%;
          height: 100%;
          padding-top: 6px;
          span {
            transition: 0.3s all ease-in-out;
            display: block;
            width: 55%;
            height: 3px;
            background-color: rgb(255, 255, 255);
            margin: 0 auto;
            margin-top: 5px;
            border-radius: 5px;
          }
        }
      }

      .katalog.active .site_bar span:nth-child(2) {
        opacity: 0;
      }

      .katalog.active .site_bar span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .katalog.active .site_bar span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      .katalog .site_bar span:nth-child(1) {
        transform: translateY(0px) rotate(360deg);
      }
      .katalog .site_bar span:nth-child(2) {
        opacity: 1;
      }

      .katalog .site_bar span:nth-child(3) {
        transform: translateY(0px) rotate(-360deg);
      }

      .user1 {
        display: none;
      }
      .header_logo {
        width: 230px;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;

        img {
          display: block;
          cursor: pointer;
        }
      }
      .header_input {
        width: 350px;
        height: 40px;
        position: relative;
        input {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          border: 2px solid rgb(203, 232, 195);
          outline: none;
          padding-left: 20px;
          outline: none;
          flex-shrink: 0;
          font-size: 18px;
        }
        img {
          position: absolute;
          top: 8px;
          right: 10px;
        }
      }
    }
  }
}
.katalog_wrapper {
  top: -100%;
  width: 100%;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding-bottom: 50px;
  position: absolute;
  transition: 0.4s all ease-in-out;
  left: 0;
  z-index: 2;
  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    .katalog_w1 {
      padding-top: 100px;
      width: 23%;
      height: 100%;
      p {
        font-family: r;
        font-size: 16px;
        padding-left: 20px;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.3s;
        a {
          transition: 0.3s;
        }
      }
      p:hover a {
        color: #ff6633;
      }
    }
  }
}
.katalog_wrapper.active {
  top: 0;
}

@media screen and (max-width: 1150px) {
  main {
    background-size: contain !important;
  }
  header {
    .container {
      .header_wrapper {
        .logo1 {
          display: block;
        }
        .user {
          display: none;
        }
        .user1 {
          display: block;
        }
        .logo {
          display: none;
        }
        .katalog {
          width: 10%;
          p {
            display: none;
          }
          .site_bar {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 880px) {
  .katalog_wrapper {
    .container {
      flex-wrap: wrap;
      padding-top: 80px;
      .katalog_w1 {
        padding-top: 20px;
        width: 50%;
        overflow: hidden;
        p {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 810px) {
  main {
    background-image: url("../../../ecommerce-dom-master/assets/images/img/Sliders (2).png") !important;
  }
  header {
    .container {
      .header_wrapper {
        .header_logo,
        .katalog1,
        .user1 {
          display: none;
        }
        .header_input {
          width: 70%;
        }
      }
    }
  }
}
